[MAIN]
py-version=3.8

[BASIC]
argument-naming-style=camelCase
attr-naming-style=camelCase
variable-naming-style=camelCase
class-attribute-naming-style=camelCase
class-const-naming-style=UPPER_CASE
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=camelCase
method-naming-style=camelCase
module-naming-style=any

docstring-min-length=-1
good-names=i,
           x,
           y,
           z,
           j,
           _,
           e

no-docstring-rgx=^_


[DESIGN]
max-args=7
max-attributes=7
max-bool-expr=3
max-branches=12
max-locals=15
max-parents=3
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=2

[FORMAT]
expected-line-ending-format=LF


[SIMILARITIES]
min-similarity-lines=5

[STRING]
check-quote-consistency=yes


[TYPECHECK]
ignored-modules=numpy,carla,pygame,agents
disable=cyclic-import
